.RadioGroup {
  display: inline-block;
  margin: 2em 0;

  legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }

  input[type='radio'] {
    display: none;
  }

  .radio-label {
    display: inline-block;
    user-select: none;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input:checked + .radio-label {
    background-color: #4bbef3c2;
  }
}
